/* Site-wide styles for Khetha. */

/* MDC customisations */

:root {
    /* Referenced from prior Layout component style: */
    --mdc-theme-background: #ededed;

    /* Referenced from prior tokens/colors constants: */
    --mdc-theme-primary: #0575E6;
    --mdc-theme-secondary: #01C98B;
}

/* Khetha-specific classes */

.khetha-theme--gradient-bg--primary, .khetha-button--answer {
    /* Referenced from prior tokens/colors primaryGradient style: */
    background: linear-gradient(162.21deg, #00F260 0%, #0575E6 83.33%), #0575E6 !important;
}

.khetha-button--answer {
    font-weight: bold;
}

.khetha-theme--gradient-bg--bar {
    /* Referenced from prior FooterBar style: */
    background: linear-gradient(158.46deg, #00F260 0%, #0575E6 83.33%), #0576E6;
}

.mdc-top-app-bar__navigation-icon--khetha-logo {
    background-image: url(images/khetha-icon-light.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2rem;
}

/* Lay out Khetha using a main central column. */
.mdc-top-app-bar__row--khetha-main-column {
    max-width: 48rem;
    align-self: center;
}
.mdc-layout-grid--khetha-main-column {
    max-width: 48rem;
}

.khetha-task-card__title {
}

.khetha-task-card__point-value {
    color: var(--mdc-theme-primary);
}

.khetha-question-card__content {
    padding: 0.5em;
}

.khetha-question-card__content__item {
    margin: 0.5em;
}

/*
Module for collapsible cards:
*/

.khetha-collapsible {
    transition: opacity 0.5s;
}

.khetha-collapsible--collapsed {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

/*
Sub-module for card content row with a leading icon:

    khetha-card__icon-row
    khetha-card__icon-row__icon
    khetha-card__icon-row__content

Icon variants:

    khetha-card__icon-row__icon--question-complete

Khetha content bits:

    khetha-card__icon-row__content__question
    khetha-card__icon-row__content__answer

*/

.khetha-card__icon-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
}

.khetha-card__icon-row__icon {
    margin-right: 1em;

    height: 2em;
    width: 2em;
    flex-shrink: 0; /* Don't shrink: stay square. */

    border-radius: 50%;
    border-style: solid;
    border-width: thick;

    display: flex;
    align-items: center;
    justify-content: center;
}

.khetha-card__icon-row__icon--question-incomplete {
    opacity: 0.25;
}

.khetha-card__icon-row__icon--question-complete {
    border-color: var(--mdc-theme-primary);
}

.khetha-text-field--full-width {
    width: 100%;
}

/* Not implemented yet: https://github.com/material-components/material-components-web/tree/master/packages/mdc-divider */
.not-mdc-card__divider {
    border-top: 1px solid var(--mdc-theme-background);
    width: 100%;
}

/* Utility classes */

.d-block {
    display: block;
}

.p-1 {
    padding: 1rem;
}

.link-unstyled {
    color: inherit;
    cursor: inherit;
    text-decoration: inherit;
}
