/* Site-wide styles for Khetha. */

/* MDC customisations */

:root {
    /* Referenced from prior Layout component style: */
    --mdc-theme-background: #ededed;
}

/* Khetha-specific classes */

.khetha-outer-grid {
    max-width: 600px;
}
.khetha-task-card__title {
    font-weight: bold;
}

/* Not implemented yet: https://github.com/material-components/material-components-web/tree/master/packages/mdc-divider */
.not-mdc-card__divider {
    border-top: 1px solid var(--mdc-theme-background);
    width: 100%;
}

/* Utility classes */

.d-block {
    display: block;
}

.p-1 {
    padding: 1rem;
}

.link-unstyled {
    color: inherit;
    cursor: inherit;
    text-decoration: inherit;
}
