[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.9b0"
flake8 = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-django = "*"
setuptools-scm = "*"
pytest-cov = "*"
django-stubs = "*"

[packages]
khetha-django = {editable = true,path = "."}
gunicorn = "*"

[requires]
python_version = "3.7"
