-i https://pypi.org/simple
-e .
brotli==1.0.7
certifi==2019.3.9
django-admin-sortable2==0.7.1
django-analytical==2.5.0
django-environ==0.4.5
django==2.1.9
psycopg2==2.8.2
pytz==2019.1
sentry-sdk==0.9.0
urllib3==1.25.3
whitenoise[brotli]==4.1.2
