{% load static %}
{% comment %}

Base Khetha site template

Blocks:

* title

* content:

    This is inside an outer mdc-layout-grid cell.

    Content can either be plain, or, to use nested grid functionality,
    use the mdc-layout-grid__inner container as documented here:

    https://material.io/develop/web/components/layout-grid/#nested-grid

{% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Khetha{% endblock %}</title>

    {# Library stylesheets #}
    <link rel="stylesheet" href="{% static 'assets/normalize.css' %}">
    <link href="{% static 'assets/material-components-web.min.css' %}" rel="stylesheet">
    {# Khetha stylesheets #}
    <link rel="stylesheet" href="{% static 'khetha/site.css' %}">

    <link rel="shortcut icon" href="{% static 'khetha/images/khetha-icon-light.png' %}">
</head>
<body class="mdc-typography mdc-theme--background">
{% block body %}
    <header class="mdc-top-app-bar khetha-theme--gradient-bg--bar"
            data-mdc-auto-init="MDCTopAppBar">
        <div class="mdc-top-app-bar__row mdc-top-app-bar__row--khetha-main-column">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-center-khetha">
                <a class="mdc-top-app-bar__title khetha-app-bar__title"
                   href="{% url 'home' %}">
                    Khetha
                </a>
            </section>
        </div>
    </header>

    <div class="mdc-layout-grid mdc-layout-grid--khetha-main-column mdc-top-app-bar--fixed-adjust">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    {# Django messages as a snackbar: #}
    {% for message in messages %}
        <div class="mdc-snackbar"
             data-mdc-auto-init="MDCSnackbar">
            <div class="mdc-snackbar__surface">
                <div class="mdc-snackbar__label" role="status" aria-live="polite">
                    {{ message }}
                </div>
                <div class="mdc-snackbar__actions">
                    <button class="mdc-button mdc-theme--text-secondary-on-dark mdc-snackbar__dismiss"
                            data-mdc-auto-init="MDCRipple"
                            title="Dismiss">×</button>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{# Library scripts #}
<script src="{% static 'assets/material-components-web.min.js' %}"></script>
<script src="{% static 'assets/zepto.min.js' %}"></script>
<script src="{% static 'assets/autosize.js' %}"></script>
{# Khetha scripts #}
<script src="{% static 'khetha/site.js' %}"></script>
<script src="{% static 'khetha/old-school-hacks.js' %}"></script>
</body>
</html>
