{% load static %}
{% comment %}

Base Khetha site template

Blocks:

* title

* content:

    This is inside an outer mdc-layout-grid cell.

    Content can either be plain, or, to use nested grid functionality,
    use the mdc-layout-grid__inner container as documented here:

    https://material.io/develop/web/components/layout-grid/#nested-grid

{% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Khetha{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'assets/normalize.css' %}">
    <link href="{% static 'assets/mdc.button.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/mdc.card.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/mdc.floating-label.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/mdc.layout-grid.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/mdc.ripple.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/mdc.textfield.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/mdc.theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/mdc.top-app-bar.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/mdc.typography.min.css' %}" rel="stylesheet">
    <script src="{% static 'assets/mdc.floatingLabel.min.js' %}"></script>
    <script src="{% static 'assets/mdc.ripple.min.js' %}"></script>
    <script src="{% static 'assets/mdc.textfield.min.js' %}"></script>
    <script src="{% static 'assets/mdc.topAppBar.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'khetha/site.css' %}">

    <link rel="shortcut icon" href="{% static 'khetha/images/khetha-icon-light.png' %}">
</head>
<body class="mdc-typography mdc-theme--background">
{% block body %}
    <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <span class="mdc-top-app-bar__title">Khetha</span>
            </section>
        </div>
    </header>

    <div class="mdc-layout-grid khetha-outer-grid mdc-top-app-bar--fixed-adjust">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
<script src="{% static 'khetha/site.js' %}"></script>
</body>
</html>
