{% extends 'khetha/base.html' %}
{% comment %}
Expected context:

    task
    tasksubmission

{% endcomment %}

{% block top_app_bar_extra %}
    {% if user.is_authenticated and user.is_staff %}
        {% url 'admin:khetha_task_change' object_id=task.pk as href %}
        {% include 'khetha/includes/admin_link.html' with href=href text='Edit in admin' only %}
    {% endif %}
{% endblock %}

{% block content %}

    <h1>{{ task.title }}</h1>

    <div class="mdc-typography--body2">
        {{ task.description|linebreaks }}
    </div>

    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            {% for answer in tasksubmission.answers %}
                {% with question=answer.question %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                        <div id="question-{{ question.pk }}">
                            {% include 'khetha/includes/question_card.html' with csrf_token=csrf_token question_number=forloop.counter question=question answer=answer only %}
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
    </div>

    {% if tasksubmission.is_completed %}
        <div class="mdc-dialog" role="alertdialog"
             data-mdc-auto-init="MDCDialog"
             data-khetha-dialog-auto-open="once"
             data-khetha-dialog-behaviour="task-complete"
             aria-modal="true">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface">
                    {# https://material.io/develop/web/components/dialogs/#html-structure #}
                    <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
                    <h2 class="mdc-dialog__title">🎉️ Task complete!</h2>
                    <div class="mdc-dialog__content">
                        You've completed this task.
                    </div>
                    <footer class="mdc-dialog__actions">
                        <button type="button" class="mdc-button mdc-dialog__button"
                                data-mdc-dialog-action="close">
                            <span class="mdc-button__label">Close</span>
                        </button>
                        <button type="button" class="mdc-button mdc-dialog__button mdc-dialog__button--default"
                                data-mdc-dialog-action="continue"
                                autofocus>
                            <span class="mdc-button__label">Keep going</span>
                        </button>
                    </footer>
                </div>
            </div>
            <div class="mdc-dialog__scrim"></div>
        </div>
    {% endif %}

{% endblock %}
