{% extends 'khetha/base.html' %}

{% block content %}
    <h1>
        {{ task.title }}
        {% if user.is_authenticated and user.is_staff %}
            <a class="mdc-button mdc-button--dense"
               data-mdc-auto-init="MDCRipple"
               style="float: right; margin: 0.25em"
               href="{% url 'admin:khetha_task_change' object_id=task.pk %}">
                Edit in admin ›
            </a>
        {% endif %}
    </h1>

    <div class="mdc-typography--body2"{% if user.is_authenticated and user.is_staff %} style="clear: both"{% endif %}>
        {{ task.description|linebreaks }}
    </div>

    <div class="mdc-layout-grid__inner">
        {% for answer in tasksubmission.answers %}
            {% with question=answer.question %}
                <div id="question-{{ question.pk }}" class="mdc-layout-grid__cell--span-12">
                    {% include 'khetha/includes/question_card.html' with csrf_token=csrf_token question=question answer=answer only %}
                </div>
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}
