{% extends 'khetha/base.html' %}
{% comment %}
Expected context:

    player_points_earned: int

    new_tasks: Sequence[Task]
    active_submissions: Sequence[TaskSubmission]
    completed_submissions: Sequence[TaskSubmission]

{% endcomment %}
{% load khetha_tags %}

{% block top_app_bar_extra %}
    {% if user.is_authenticated and user.is_staff %}
        {% url 'admin:khetha_task_changelist' as href %}
        {% include 'khetha/includes/admin_link.html' with href=href only %}
    {% endif %}
{% endblock %}

{% block content %}
    <p>
        You've earned {{ player_points_earned }} points!
    </p>

    {% if active_submissions %}
        <div class="mdc-typography--overline">
            In progress
        </div>
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                {% for tasksubmission in active_submissions %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                        <div class="khetha-mdc-card-height-stretcher">
                            {% include 'khetha/includes/tasksubmission_card.html' with tasksubmission=tasksubmission only %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if new_tasks %}
        <div class="mdc-typography--overline">
            New
        </div>
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                {% for task in new_tasks %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                        <div class="khetha-mdc-card-height-stretcher">
                            {% include 'khetha/includes/task_card.html' with task=task only %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if completed_submissions %}
        <div class="mdc-typography--overline">
            Completed
        </div>
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                {% for tasksubmission in completed_submissions %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                        <div class="khetha-mdc-card-height-stretcher">
                            {% include 'khetha/includes/tasksubmission_card.html' with tasksubmission=tasksubmission only %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}
