{% extends 'khetha/base.html' %}

{% block content %}
    <h1>Tasks</h1>

    <div class="mdc-layout-grid__inner">
        {% for task in task_list %}
            <div class="mdc-layout-grid__cell--span-12">
                <div class="mdc-card">
                    <div class="mdc-card__primary-action"
                         data-mdc-auto-init="MDCRipple"
                         tabindex="0">
                        <a class="d-block p-1 link-unstyled"
                           href="{% url 'task-detail' slug=task.slug %}">
                            <div class="khetha-task-card__title">
                                {{ task.title }}
                            </div>
                            <div class="mdc-typography--caption">
                                {{ task.description|linebreaks }}
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
