{% comment %}
Render a card for one question / answer.

Expected context:

    csrf_token
    question_number
    question
    answer

{% endcomment %}

{# Anchor the fallback link by global question id (rather than idividual answer id), to not break link sharing. #}
<form id="question-{{ question.pk }}-form"
      class="inplace-submit-form"
      method="post" action="{% url 'answer-update' pk=answer.pk %}#question-{{ question.pk }}">
    {% csrf_token %}
    <div class="mdc-card khetha-card--question">

        <div class="mdc-card__primary-action"
             data-mdc-auto-init="MDCRipple"
             tabindex="0">
            <div class="khetha-card__icon-row">
                <div class="khetha-card__icon-row__icon
                            khetha-card__icon-row__icon--question-{% if answer.value %}complete{% else %}incomplete{% endif %}">
                    {% if answer.value %}
                        <span style="font-size: 1.5em">✓</span>  {# Compensate for small Unicode check mark size. #}
                    {% else %}
                        <span>{{ question_number }}</span>
                    {% endif %}
                </div>
                <div class="khetha-card__icon-row__content">
                    <div>{{ question.text }}</div>
                    <p></p>
                    <div class="mdc-theme--primary">{{ answer.value }}</div>
                </div>
            </div>
        </div>

        <div class="khetha-collapsible {% if answer.value %}khetha-collapsible--collapsed{% endif %}">

            <div class="not-mdc-card__divider"></div>

            <div class="khetha-question-card__content">
                <div class="mdc-typography--caption khetha-question-card__content__item" style="opacity: 0.5">
                    {{ question.description|linebreaks }}
                </div>
                {% comment %}
                Styling note: The main items defined in these templates should have
                class "khetha-question-card__content__item" (for padding).
                {% endcomment %}
                {% with template_name="khetha/question_answer_displays/"|add:question.display_type_enum.name|add:".html" %}
                    {% include template_name with question=question answer=answer only %}
                {% endwith %}
            </div>

        </div>

    </div>
</form>
