{% comment %}
Expected context:

    tasksubmission: models.TaskSubmission

{% endcomment %}
<div class="mdc-card">
    <a class="mdc-card__primary-action p-1"
       data-mdc-auto-init="MDCRipple"
       href="{{ tasksubmission.get_task_url }}">

        <div role="progressbar"
             class="mdc-linear-progress mdc-linear-progress--closed"
             data-mdc-auto-init="MDCLinearProgress"
             data-khetha-initial-progress="{{ tasksubmission.progress_factor }}">
            {# XXX (Pi): Causes rendering performance problems even when not active? #}
            {# <div class="mdc-linear-progress__buffering-dots"></div> #}
            <div class="mdc-linear-progress__buffer"></div>
            <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                <span class="mdc-linear-progress__bar-inner khetha-theme--gradient-bg--primary"></span>
            </div>
            <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                <span class="mdc-linear-progress__bar-inner"></span>
            </div>
        </div>

        {% include 'khetha/includes/task_card_inner.html' with task=tasksubmission.task only %}

    </a>
</div>
