{% comment %}
Render a question as a simple multi-line text area.

Expected context: question, answer

XXX: Almost identical with short_text.html
{% endcomment %}

<div class="khetha-question-card__content__item">
    <div class="mdc-text-field mdc-text-field--textarea mdc-text-field--fullwidth"
         data-mdc-auto-init="MDCTextField">
        <textarea class="mdc-text-field__input textarea--autosize"
                  name="value">{{ answer.value }}</textarea>
        <div class="mdc-notched-outline">
            <div class="mdc-notched-outline__leading"></div>
            <div class="mdc-notched-outline__notch">
                <label class="mdc-floating-label">Answer</label>
            </div>
            <div class="mdc-notched-outline__trailing"></div>
        </div>
    </div>
</div>

<div class="khetha-question-card__content__item">
    <button class="mdc-button mdc-button--raised khetha-button--answer"
            type="submit">
        <span class="mdc-button__label">Save</span>
    </button>
</div>
